body {
  font-family: monospace;
  font-size: 15;
}

#app {
  background: lightgoldenrodyellow;
  height: 320px;
  position: relative;
  width: 100%;
}
#app::after {
  background: red;
  bottom: 0;
  content: " ";
  cursor: grab;
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 55;
}
#app::after:active {
  cursor: grabbing;
}

#controls {
  margin-top: 10px;
}

/* .cell-a {
  left: 0;
  position: fixed;
  width: 200px;
}

.cell-b {
  margin-left: 200px;
} */
