.container {
  background: lightpink;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 408px;
}

.scroller {
  align-items: stretch;
  background: white;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 24px,
    rgba(0, 0, 0, 0.07) 24px,
    rgba(0, 0, 0, 0.07) 48px
  );
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  /* width: 100%; */
  width: 600px;
}

.row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

.cell {
  width: 200px;
}

.header {
  background: black;
  box-sizing: border-box;
  color: white;
  display: flex;
  position: sticky;
  top: 0;
  /* width: 100%; */
  width: 600px;
  z-index: 10;
}
